.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 400px;
    height: max-content;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-title{
    color: black;
    font-weight: 700;
    font-size: xx-large;
}

.login > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-username, .login-password {
    background:none;
    border: none;
    width: 300px;
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.login-submit {
    width: 300px;
    height: 30px;
    margin-top: 30px;
    padding: 5px;
}